header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--secondary);
  width: 100%;
  height: 60px;
  padding-left: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .headerContainer {
  width: 80%;
  margin: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .headerContainer .searchContainer {
  width: 400px;
  margin-right: 50px;
}

main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-left: 400px;
}

main .bodyContainer {
  width: 80%;
  margin: 0 10%;
  height: calc(100vh - 140px);
}

.grid3Columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.grid2Columns {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.mobileNav {
  display: none;
}

@media only screen and (max-width: 1000px) {
  header {
    display: none;
  }
  .grid3Columns {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  main {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-left: 0px;
  }
  main .bodyContainer {
    width: 94%;
    margin: 0px 3%;
    height: calc(100vh - 60px);
  }
  .mobileNav {
    background-color: var(--bw100);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    z-index: 5;
    -webkit-filter: drop-shadow(0px 0px 3px #00000033) drop-shadow(0px 0px 15px #00000033);
            filter: drop-shadow(0px 0px 3px #00000033) drop-shadow(0px 0px 15px #00000033);
  }
  .mobileNav .navCircleContainer {
    background-color: var(--bw100);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -25px);
            transform: translate(-50%, -25px);
    position: absolute;
    z-index: 5;
  }
  .mobileNav .mobileIconContainer {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 5;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .mobileNav .mobileIconContainer .mobileIconBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
  }
  .mobileNav .mobileIconContainer .mobileIconBox img {
    height: 26px;
    width: auto;
  }
  .mobileNav .mobileIconContainer .mobileIconBox .mobileMenuIcon {
    height: 50px;
    width: auto;
  }
  .mobileNav .mobileIconContainer .mobileIconBox p {
    margin: 0;
    margin-top: 2px;
    color: var(--text);
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 600px) {
  header {
    display: none;
  }
  main {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-left: 0px;
  }
  main .bodyContainer {
    width: 94%;
    margin: 0px 3%;
    height: calc(100vh - 60px);
  }
}
/*# sourceMappingURL=style.css.map */