.pokemonProfile {
  position: relative;
  width: 100%;
}

.pokemonProfile .gradient {
  background: -webkit-gradient(linear, left bottom, left top, from(#f2f2f2), color-stop(1%, #f2f2f299), color-stop(3%, #f2f2f200), color-stop(97%, #f2f2f200), color-stop(99%, #f2f2f299), to(#f2f2f2));
  background: linear-gradient(0deg, #f2f2f2 0%, #f2f2f299 1%, #f2f2f200 3%, #f2f2f200 97%, #f2f2f299 99%, #f2f2f2 100%);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  pointer-events: none;
}

.pokemonProfile .profileInterface {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  /* Track */
}

.pokemonProfile .profileInterface .c1 {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pokemonProfile .profileInterface .c1 .pokemonContainer {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pokemonProfile .profileInterface .c1 .pokemonContainer .halftoneShadow {
  width: 100%;
  height: auto;
}

.pokemonProfile .profileInterface .c1 .pokemonContainer .pokemonImage {
  position: absolute;
  width: 60%;
  margin: 20% 20%;
  opacity: 0;
  height: auto;
  z-index: 2;
}

.pokemonProfile .profileInterface .c1 .pokemonContainer .pokemonImage.animation {
  -webkit-animation: pokemonImage 1s ease-out 0s forwards;
          animation: pokemonImage 1s ease-out 0s forwards;
}

@-webkit-keyframes pokemonImage {
  0% {
    width: 40%;
    margin: 30% 30%;
    opacity: 0;
    -webkit-filter: contrast(0%) brightness(200%);
            filter: contrast(0%) brightness(200%);
  }
  50% {
    -webkit-filter: contrast(0%) brightness(200%);
            filter: contrast(0%) brightness(200%);
  }
  80% {
    opacity: 1;
    width: 70%;
    margin: 15% 15%;
  }
  100% {
    width: 60%;
    margin: 20% 20%;
    opacity: 1;
    -webkit-filter: contrast(100%) brightness(100%);
            filter: contrast(100%) brightness(100%);
  }
}

@keyframes pokemonImage {
  0% {
    width: 40%;
    margin: 30% 30%;
    opacity: 0;
    -webkit-filter: contrast(0%) brightness(200%);
            filter: contrast(0%) brightness(200%);
  }
  50% {
    -webkit-filter: contrast(0%) brightness(200%);
            filter: contrast(0%) brightness(200%);
  }
  80% {
    opacity: 1;
    width: 70%;
    margin: 15% 15%;
  }
  100% {
    width: 60%;
    margin: 20% 20%;
    opacity: 1;
    -webkit-filter: contrast(100%) brightness(100%);
            filter: contrast(100%) brightness(100%);
  }
}

.pokemonProfile .profileInterface .c1 .pokemonContainer .pokemonId {
  font-weight: 700;
  color: var(--primaryTitle);
  font-size: 1rem;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.pokemonProfile .profileInterface .c1 .pokemonContainer .changePokemonButton {
  position: absolute;
  background-color: var(--bw100);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  -webkit-box-shadow: 1px 1px 2px #00000099;
          box-shadow: 1px 1px 2px #00000099;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primaryTitle);
  font-size: 1rem;
  z-index: 3;
  cursor: pointer;
}

.pokemonProfile .profileInterface .c1 .pokemonContainer .left {
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.pokemonProfile .profileInterface .c1 .pokemonContainer .right {
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.pokemonProfile .profileInterface .c1 .pokemonContainer .additionsContainer {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pokemonProfile .profileInterface .c1 .pokemonContainer .additionsContainer .additionsBox {
  background-color: var(--bw100);
  width: 30px;
  height: 30px;
  margin: 0 5px;
  border-radius: 100%;
  -webkit-box-shadow: 1px 1px 2px #00000099;
          box-shadow: 1px 1px 2px #00000099;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primaryTitle);
  font-size: 1rem;
  cursor: pointer;
}

.pokemonProfile .profileInterface .c1 .pokemonContainer .additionsContainer .additionsBox .star {
  color: var(--select);
}

.pokemonProfile .profileInterface .c1 .pokemonContainer .additionsContainer .additionsBox .heart {
  color: var(--heart);
}

.pokemonProfile .profileInterface ::-webkit-scrollbar-track {
  margin-top: 56px;
  margin-bottom: 30px;
}

.pokemonProfile .profileInterface .c2 {
  margin-left: 5%;
  width: 64%;
  padding-right: 1%;
  height: calc(100vh - 140px);
  overflow-y: scroll;
}

.pokemonProfile .profileInterface .c2 p {
  text-align: justify;
  color: var(--text);
}

.pokemonProfile .profileInterface .c2 h2 {
  color: var(--primaryTitle);
  font-size: 2rem;
  font-weight: 900;
  margin: 0px;
}

.pokemonProfile .profileInterface .c2 .measurementBox {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  padding: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 1px 1px 2px #00000099;
          box-shadow: 1px 1px 2px #00000099;
}

.pokemonProfile .profileInterface .c2 .measurementBox img {
  height: 100%;
  width: auto;
}

.pokemonProfile .profileInterface .c2 .measurementBox h3 {
  color: var(--secondaryTitle);
  font-size: 1.4rem;
  font-weight: 700;
}

@media only screen and (max-width: 1000px) {
  .pokemonProfile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: calc(100vh - 280px);
  }
  .pokemonProfile .gradient {
    display: none;
  }
  .pokemonProfile .profileInterface {
    width: 100%;
  }
  .pokemonProfile .profileInterface .c1 {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pokemonProfile .profileInterface .c2 {
    margin-left: 5%;
    width: 54%;
    padding-right: 1%;
    height: calc(100vh - 280px);
    overflow-y: scroll;
  }
  .pokemonProfile .profileInterface .c2 p {
    text-align: justify;
    color: var(--text);
  }
  .pokemonProfile .profileInterface .c2 h2 {
    color: var(--primaryTitle);
    font-size: 2rem;
    font-weight: 900;
    margin: 0px;
  }
  .pokemonProfile .profileInterface .c2 .measurementBox {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: white;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    padding: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 1px 1px 2px #00000099;
            box-shadow: 1px 1px 2px #00000099;
  }
  .pokemonProfile .profileInterface .c2 .measurementBox img {
    height: 100%;
    width: auto;
  }
  .pokemonProfile .profileInterface .c2 .measurementBox h3 {
    color: var(--secondaryTitle);
    font-size: 1.4rem;
    font-weight: 700;
  }
}

@media only screen and (max-width: 800px) {
  .pokemonProfile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: calc(100vh - 280px);
  }
  .pokemonProfile .profileInterface {
    width: 100%;
  }
  .pokemonProfile .profileInterface .c1 {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pokemonProfile .profileInterface .c2 {
    margin-left: 5%;
    width: 54%;
    padding-right: 1%;
    height: calc(100vh - 280px);
    overflow-y: scroll;
  }
  .pokemonProfile .profileInterface .c2 p {
    text-align: justify;
    font-size: var(--textFont);
    color: var(--text);
  }
  .pokemonProfile .profileInterface .c2 h2 {
    color: var(--primaryTitle);
    font-size: 2rem;
    font-weight: 900;
    margin: 0px;
  }
  .pokemonProfile .profileInterface .c2 .measurementBox {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: white;
    width: 100%;
    height: 45px;
    border-radius: 10px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 1px 1px 2px #00000099;
            box-shadow: 1px 1px 2px #00000099;
  }
  .pokemonProfile .profileInterface .c2 .measurementBox img {
    height: 100%;
    width: auto;
  }
  .pokemonProfile .profileInterface .c2 .measurementBox h3 {
    color: var(--secondaryTitle);
    font-size: 1.2rem;
    font-weight: 700;
  }
}

@media only screen and (max-width: 600px) {
  .pokemonProfile {
    width: 100%;
    height: calc(100vh - 220px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-y: scroll;
  }
  .pokemonProfile .gradient {
    display: block;
  }
  .pokemonProfile .profileInterface {
    width: 96%;
    padding: 0 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .pokemonProfile .profileInterface .c1 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pokemonProfile .profileInterface .c1 .pokemonContainer {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .pokemonProfile .profileInterface .c1 .pokemonContainer .pokemonId {
    font-size: 1.2rem;
  }
  .pokemonProfile .profileInterface .c1 .pokemonContainer .changePokemonButton {
    font-size: 1.2rem;
    width: 40px;
    height: 40px;
  }
  .pokemonProfile .profileInterface .c2 {
    margin-left: 0%;
    width: 99%;
    padding-right: 1%;
    margin-bottom: 40px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    overflow-y: initial;
  }
  .pokemonProfile .profileInterface .c2 p {
    text-align: justify;
    color: var(--text);
  }
  .pokemonProfile .profileInterface .c2 h2 {
    color: var(--primaryTitle);
    font-size: 2rem;
    font-weight: 900;
    margin: 0px;
  }
  .pokemonProfile .profileInterface .c2 .measurementBox {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: white;
    width: 100%;
    height: 45px;
    border-radius: 10px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 1px 1px 2px #00000099;
            box-shadow: 1px 1px 2px #00000099;
  }
  .pokemonProfile .profileInterface .c2 .measurementBox img {
    height: 80%;
    width: auto;
  }
  .pokemonProfile .profileInterface .c2 .measurementBox h3 {
    color: var(--secondaryTitle);
    font-size: 1rem;
    font-weight: 700;
  }
}
/*# sourceMappingURL=style.css.map */