.pokemonProfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.pokemonProfile .c1 {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pokemonProfile .c1 .pokemonContainer {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pokemonProfile .c1 .pokemonContainer .halftoneShadow {
  width: 100%;
  height: auto;
  z-index: 1;
}

.pokemonProfile .c1 .pokemonContainer .pokemonImage {
  position: absolute;
  width: 60%;
  margin: 20% 20%;
  height: auto;
  z-index: 2;
}

.pokemonProfile .c1 .pokemonContainer .changePokemonButton {
  position: absolute;
  background-color: var(--bw100);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  -webkit-box-shadow: 1px 1px 2px #00000099;
          box-shadow: 1px 1px 2px #00000099;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primaryTitle);
  font-size: 1rem;
  z-index: 3;
  cursor: pointer;
}

.pokemonProfile .c1 .pokemonContainer .left {
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.pokemonProfile .c1 .pokemonContainer .right {
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.pokemonProfile .c2 {
  margin-left: 5%;
  width: 64%;
  padding-right: 1%;
  height: calc(100vh - 140px);
  overflow-y: scroll;
}

.pokemonProfile .c2 p {
  text-align: justify;
  color: var(--primaryTitle);
}

.pokemonProfile .c2 h2 {
  color: var(--primaryTitle);
  font-size: 2rem;
  font-weight: 900;
  margin: 0px;
}

.pokemonProfile .c2 .measurementBox {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  padding: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 1px 1px 2px #00000099;
          box-shadow: 1px 1px 2px #00000099;
}

.pokemonProfile .c2 .measurementBox img {
  height: 100%;
  width: auto;
}

.pokemonProfile .c2 .measurementBox h3 {
  color: var(--secondaryTitle);
  font-size: 1.4rem;
  font-weight: 700;
}

@media only screen and (max-width: 1000px) {
  .pokemonProfile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .pokemonProfile .c1 {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pokemonProfile .c2 {
    margin-left: 5%;
    width: 64%;
    padding-right: 1%;
    height: calc(100vh - 140px);
    overflow-y: scroll;
  }
  .pokemonProfile .c2 p {
    text-align: justify;
    color: var(--primaryTitle);
  }
  .pokemonProfile .c2 h2 {
    color: var(--primaryTitle);
    font-size: 2rem;
    font-weight: 900;
    margin: 0px;
  }
  .pokemonProfile .c2 .measurementBox {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: white;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    padding: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 1px 1px 2px #00000099;
            box-shadow: 1px 1px 2px #00000099;
  }
  .pokemonProfile .c2 .measurementBox img {
    height: 100%;
    width: auto;
  }
  .pokemonProfile .c2 .measurementBox h3 {
    color: var(--secondaryTitle);
    font-size: 1.4rem;
    font-weight: 700;
  }
}

@media only screen and (max-width: 800px) {
  .pokemonProfile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .pokemonProfile .c1 {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pokemonProfile .c2 {
    margin-left: 5%;
    width: 54%;
    padding-right: 1%;
    height: calc(100vh - 140px);
    overflow-y: scroll;
  }
  .pokemonProfile .c2 p {
    text-align: justify;
    color: var(--primaryTitle);
  }
  .pokemonProfile .c2 h2 {
    color: var(--primaryTitle);
    font-size: 2rem;
    font-weight: 900;
    margin: 0px;
  }
  .pokemonProfile .c2 .measurementBox {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: white;
    width: 100%;
    height: 45px;
    border-radius: 10px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 1px 1px 2px #00000099;
            box-shadow: 1px 1px 2px #00000099;
  }
  .pokemonProfile .c2 .measurementBox img {
    height: 100%;
    width: auto;
  }
  .pokemonProfile .c2 .measurementBox h3 {
    color: var(--secondaryTitle);
    font-size: 1.2rem;
    font-weight: 700;
  }
}

@media only screen and (max-width: 600px) {
  .pokemonProfile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 96%;
    padding: 0 2%;
    height: calc(100vh - 100px);
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow-y: scroll;
  }
  .pokemonProfile .c1 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pokemonProfile .c1 .pokemonContainer {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .pokemonProfile .c1 .pokemonContainer .changePokemonButton {
    font-size: 1.4rem;
    width: 45px;
    height: 45px;
  }
  .pokemonProfile .c2 {
    margin-left: 0%;
    width: 99%;
    padding-right: 1%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    overflow-y: initial;
  }
  .pokemonProfile .c2 p {
    text-align: justify;
    color: var(--primaryTitle);
  }
  .pokemonProfile .c2 h2 {
    color: var(--primaryTitle);
    font-size: 2rem;
    font-weight: 900;
    margin: 0px;
  }
}
/*# sourceMappingURL=style.css.map */