.mainContent {
    position: relative;
    width: 100%;
    height: calc(100vh - 190px);
    overflow-y: scroll;

    .teamMakerMainFrame {
        width: 98%;
        padding-right: 2%;
        position: absolute;
        top: 0;
        left: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        grid-gap: 5px;

        .c1 {
            width: 100%;

            .frame {
                position: relative;

                .imagebg {
                    background-color: var(--secondary);
                    width: 100%;
                    height: auto;
                    border: 12px solid var(--tertiary);
                }
            }
        }

        .c2 {
            width: 100%;
        }
    }
}
